@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Zero-Escape-Index-Container {
  color: white;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
  border-bottom: solid;
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: 5px;
}

img {
  border: solid;
}

.character {
  text-align: center;
}

/* .column-nest ORIGINAL BACKGROUND COLOR AND BOX SHADOW */
/* background-color: #1FD1B2; */
/* box-shadow: 12px 12px 2px 1px rgba(72, 199, 142, .2); */
.column-nest {
  background-color: #8BDFF9;
  border-radius: 2%;
  box-shadow: 12px 12px 2px 1px rgba(12, 170, 220, .2);
<<<<<<< HEAD
=======
  height: 75%;
}

.zero-nest {
  background-color: #F14668;
  border-radius: 2%;
  box-shadow: 12px 12px 2px 1px rgba(139, 0, 0, .2);
>>>>>>> f58e8ae8892aa37b2100f75c74e7e0bcceadc7f6
  height: 75%;
}
